In [32]:
#import needed libraries
import pandas as pd
import matplotlib
import math
import numpy as np
from matplotlib import pyplot as plt
#read files
file = "constituents-financials.csv"
df = pd.read_csv(file)
print(df.head())
#find the amount of companies per sector
sectors = df["Sector"].value_counts()
print(sectors)

  Symbol                 Name                  Sector   Price  Price/Earnings  \
0    MMM           3M Company             Industrials  222.89           24.31
1    AOS      A.O. Smith Corp             Industrials   60.24           27.76
2    ABT  Abbott Laboratories             Health Care   56.27           22.51
3   ABBV          AbbVie Inc.             Health Care  108.48           19.41
4    ACN        Accenture plc  Information Technology  150.51           25.47

   Dividend Yield  Earnings/Share  52 Week Low  52 Week High    Market Cap  \
0        2.332862            7.92       259.77       175.490  138721055226
1        1.147959            1.70        68.39        48.925   10783419933
2        1.908982            0.26        64.60        42.280  102121042306
3        2.499560            3.29       125.86        60.050  181386347059
4        1.714470            5.44       162.60       114.820   98765855553

         EBITDA  Price/Sales  Price/Book  \
0  9.048000e+09     4.390271       11.34
1  6.010000e+08     3.575483        6.35
2  5.744000e+09     3.740480        3.19
3  1.031000e+10     6.291571       26.14
4  5.643228e+09     2.604117       10.62

                                         SEC Filings
0  http://www.sec.gov/cgi-bin/browse-edgar?action...
1  http://www.sec.gov/cgi-bin/browse-edgar?action...
2  http://www.sec.gov/cgi-bin/browse-edgar?action...
3  http://www.sec.gov/cgi-bin/browse-edgar?action...
4  http://www.sec.gov/cgi-bin/browse-edgar?action...
Consumer Discretionary        84
Information Technology        70
Financials                    68
Industrials                   67
Health Care                   61
Consumer Staples              34
Real Estate                   33
Energy                        32
Utilities                     28
Materials                     25
Telecommunication Services     3
Name: Sector, dtype: int64

In [33]:
#display the data as a table
file2 = "Constituentsper.csv"
dff = pd.read_csv(file2)
dff

                     Industry  Number
0      Consumer Discretionary      84
1      Information Technology      70
2                  Financials      68
3                 Industrials      67
4                 Health Care      61
5            Consumer Staples      34
6                 Real Estate      33
7                      Energy      32
8                   Utilities      28
9                   Materials      25
10  Telecomunication Services       3